/* project page */

.projectHeader {
    display: flex;
    padding: 2rem 5rem;
    gap: 2rem;
    width: 100%;
    height: 100vh;
}

.projectHeaderText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

.projectHeaderText h4 {
    margin-bottom: 1rem;
}

.projectHeaderImage {
    flex: 1;
    align-self: center;
    justify-content: center;
    width: 400px;
    height: 300px;
}

.viewProjectButton {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    width: fit-content;
    background-color: var(--light-orange);
    border: 2px solid var(--orange);
    color: var(--jet-black);
    border-radius: 15px;
    text-align: center;
}


.projectHeaderImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.headerProjectCategory {
    display: flex;
    gap: 1rem;
}

.headerCategory {
    font-size: 1rem;
    padding: 0.25rem;
}

.headerCategory.pathways {
    color: var(--dark-purple) !important;
    background-color: transparent !important;
    border: none !important;
}

.headerCategory.placeBased {
    color: var(--dark-blue) !important;
    background-color: transparent !important;
    border: none !important;
}

.headerCategory.techEquity {
    color: var(--rose) !important;
    background-color: transparent !important;
    border: none !important;
}

.projectTags {
    display: flex;
    width: fit-content;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.tag {
    padding: 0.25rem 0.5rem;
    border: 1px dashed var(--jet-black);
    border-radius: 4px;
    font-size: 0.8rem;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    gap: 2rem;
    max-width: 1200px;
    padding: 0 5rem 5rem 5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid var(--jet-black);
    padding: 0.5rem;
}

@media (max-width: 1000px) {
    .projectHeader {
        flex-direction: column;
        padding: 2rem;
        height: auto;
        gap: 1rem;
    }

    .projectHeaderImage {
        width: 100%;
        height: auto;
    }

    .projectHeaderImage img{
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .projectContainer {
        padding: 0 2rem 5rem 2rem;
    }
}