---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<Header />
	<section class="hero">
		<div class="hero-text">
			<h1>Michael Vincent Pasimio</h1>
			<p>learning designer, educator, innovator</p>
			<p>based in washington dc</p>
			<div class="orange-line"></div>
			<div class="tagline">
				<p>reimagining education as 
				<br>a public process</p>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="about-content">
			<h2>Education must transform</h2>
			<div class="sectionTitleLine left black"></div>
			<p>As a student, educator, and learning designer, I am constantly grappling with this tension: is education for individual success or collective flourishing?</p>
			<p>I spent years chasing success, only to find myself isolated, suffocated by the emptiness of my pursuits. I came to realize that the unequal, hyper-individual pursuit of success is tearing our society apart. But the problem is larger than any individual's choices: the very structure of our education system rewards self-interested behavior.</p>		
			<p>I'm dedicated to deconstructing this system of self-interest and rebuilding one that promotes democratic, shared progress.</p>
			<p>In this portfolio, I develop the idea of education as a public process through my writing, research, and projects. If any of this resonates with you, reach out to me. I'd love to talk.</p>
		</div>
		<div class="about-image">
			<img src="/../profile-about-frame.png" alt="a headshot of michael standing behind a podium that says georgetown university" />
		</div>
	</section>

	<section class="featured">
		<h2>What does redesigning education look like?</h2>
		<div class="sectionTitleLine center orange"></div>
		
		<div class="featuredWorks">
			<div class="featuredWork">
				<h3>Project 1</h3>
				<p>Description of project 1.</p>
			</div>
			<div class="featuredWork">
				<h3>Project 2</h3>
				<p>Description of project 2.</p>
			</div>
			<div class="featuredWork">
				<h3>Project 3</h3>
				<p>Description of project 3.</p>
			</div>
		</div>
	</section>

	<section class="theoryOfChange">
		<h2>My theory of change</h2>
		<div class="sectionTitleLine left orange"></div>
		<p>Recreating the education system is a generational process requiring empathy, persistence, and faith. Nevertheless, now is the time for radical change. </p>
		<p>My theory of change is guided by three principles:</p>
		<div class ="principles">
			<div class="principle">
				<h3>designing with, not for</h3>
				<p>hidden</p>
			</div>
			<div class="principle">
				<h3>systems thinking</h3>
				<p>hidden</p>
			</div>
			<div class="principle">
				<h3>cyclical processes</h3>
				<p>hidden</p>
			</div>
		</div>
	</section>

	<section class="focusAreas">
		<h2>Focus areas</h2>
		<div class="sectionTitleLine center orange"></div>
		<div class="areas">
			<div class="area">
				<h3>Rethinking pipelines</h3>
				<p>Redefining the relationship between the K-12 system, the higher education system, and the workforce.</p>
			</div>
			<div class="area">
				<h3>local embeddedness</h3>
				<p>Connecting civic leaders, educational institutions, and local non-profits to create a more cohesive support system for learners.</p>
			</div>
			<div class="area">
				<h3>conscious ed tech</h3>
				<p>Studying the design, adoption, and ethical implications of technologies such as: LERs, generative AI, predictive AI, and VR.</p>
			</div>
		</div>
	</section>
<script>
	function showSidebar() {
		const sidebar = document.querySelector('.sidebar') as HTMLElement;
		sidebar.style.display = 'flex';
	}
	function hideSidebar() {
		const sidebar = document.querySelector('.sidebar') as HTMLElement;
		sidebar.style.display = 'none';
	}
</script>

	</body>
</html>
