<div class="contact-bubble">
    <div class="bubble-content">
        
        
        <h3>Want to connect?</h3>
        <div class="bubble-links">
            <a href="mailto:micpasimio@gmail.com">Email</a>
            <a href="https://linkedin.com/in/michael-pasimio-2934b5146" target="_blank">LinkedIn</a>
    </div>
    </div>
</div>