<div class="contact">
    <h3>Want to connect?</h3>
    <a href="mailto:micpasimio@gmail.com">Email</a>
    <a href="https://linkedin.com/in/michael-pasimio-2934b5146" target="_blank">LinkedIn</a>
</div>