

<nav class="sidebar">
		<ul>
			<li id="xButton"><a href="#"><img src="/../close.svg" alt="close menu icon" /></a></li>
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="https://substack.com/@michaelpasimio" target="_blank">blog</a></li>
			<li><a href="/Pasimio-Michael-Resume-Spring-2026.pdf" target="_blank">resume</a></li>
		</ul>
	</nav>
<nav class="topbar">
	<p><a href="/">mvp+</a></p>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="https://substack.com/@michaelpasimio" target="_blank">blog</a></li>
		<li><a href="/Pasimio-Michael-Resume-Spring-2026.pdf" target="_blank">resume</a></li>
		<li id="menuButton"><a href="#"><img src="/../menu.svg" alt="toggle menu icon" /></a></li>
	</ul>
</nav>

	<script>
	import { number } from "astro:schema";

	const xButton = document.getElementById('xButton')
	const menuButton = document.getElementById('menuButton')

	xButton?.addEventListener("click", recordLog)
	menuButton?.addEventListener("click", recordLog)

	function recordLog(){
		console.log('Clicked Button');
	};

	xButton?.addEventListener("click", hideSidebar)
	menuButton?.addEventListener("click", showSidebar)

	function showSidebar() {
		const sidebar = document.querySelector('.sidebar') as HTMLElement;
		sidebar.style.display = 'flex';
	}
	function hideSidebar() {
		const sidebar = document.querySelector('.sidebar') as HTMLElement;
		sidebar.style.display = 'none';
	}

	</script>