

<nav class="sidebar">
		<p>mvp</p>
		<ul>
			<li onclick=hideSidebar()><a href="#"><img src="/../close.svg" alt="menu icon" /></a></li>
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="/blog">blog</a></li>
			<li><a href="/contact">contact</a></li>
			<li><a href="/resume">resume</a></li>
		</ul>
	</nav>
	<nav>
		<a href="/">mvp+</a>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="/blog">blog</a></li>
			<li><a href="/contact">contact</a></li>
			<li><a href="/resume">resume</a></li>
			<li onclick=showSidebar()><a href="#"><img src="/../menu.svg" alt="menu icon" /></a></li>
		</ul>
	</nav>