

<nav class="sidebar">
		<p>mvp</p>
		<ul>
			<li onclick=hideSidebar()><a href="#"><img src="/../close.svg" alt="menu icon" /></a></li>
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="https://substack.com/@michaelpasimio" target="_blank">blog</a></li>
			<li><a href="../Pasimio-Michael-Resume-Spring-2026.pdf" target="_blank">resume</a></li>
		</ul>
	</nav>
	<nav>
		<p><a href="/">mvp+</a></p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="https://substack.com/@michaelpasimio" target="_blank">blog</a></li>
			<li><a href="../Pasimio-Michael-Resume-Spring-2026.pdf" target="_blank">resume</a></li>
			<li onclick=showSidebar()><a href="#"><img src="/../menu.svg" alt="menu icon" /></a></li>
		</ul>
	</nav>